@model SkillTracker.Entities.Skill

@{
    ViewData["Title"] = "New Skill";
}



<p>
    <a asp-controller="Home" asp-action="Index">Back to home</a>
</p>
<hr />
@if (ViewBag.result !=null)
{
<h5><span style="color:red">!!!!!!@ViewBag.result</span></h5>
}
<form asp-action="NewSkill">
    <div class="row ">
        <div class="col-md-3 bg-primary">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SkillName" class="control-label"> Skill Name</label>
                <input asp-for="SkillName" class="form-control" title="Skill Name" />
                <span asp-validation-for="SkillName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillLevel" class="control-label">Skill Level</label>
                <select asp-for="SkillLevel" class="form-control" title="Skill Level" asp-items="Html.GetEnumSelectList<SkillTracker.Entities.SkillLevel>()"></select>
                <span asp-validation-for="SkillLevel" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 bg-primary">
            <div class="form-group">
                <label asp-for="SkillCategory" class="control-label"> Skill Category</label>

                <select asp-for="SkillCategory" class="form-control" title="Skill Catagory" asp-items="Html.GetEnumSelectList<SkillTracker.Entities.SkillCategory>()"></select>
                <span asp-validation-for="SkillCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillType" class="control-label"> Skill Type</label>
                <select asp-for="SkillType" class="form-control" title="Skill Type" asp-items="Html.GetEnumSelectList<SkillTracker.Entities.SkillType>()"></select>
                <span asp-validation-for="SkillType" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-3 bg-primary">
            <div class="form-group">
                <label asp-for="Remark" class="control-label">Remark</label>
                <input asp-for="Remark" class="form-control" placeholder="Remark" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillTotalExperiance" class="control-label"> Skill Total Experiance</label>
                <input asp-for="SkillTotalExperiance" class="form-control" placeholder="Experiance in months" />
                <span asp-validation-for="SkillTotalExperiance" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row ">
        <div class="col-md-2 ">
            <div class="form-group">
                <input type="submit" value="Add New Skill" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
