
@{
    ViewData["Title"] = "Index";
}


<br />
<div class="row">
    <div class="container">
       
        <ul class="nav nav-pills nav-stacked" role="tablist">
            <li class="active"> <a>Skill Board </a></li>
            <li><a href="/Skill/NewSkill">New Skill</a></li>
            <li><a href="/Skill/ReviseSkill">Update Skill</a></li>
            <li><a href="/skill/DestroySkill">Delete Skill</a></li>

        </ul>
        </div>

        <div class="container">

            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li class="active"> <a>User Board </a></li>
                <li><a href="/user/newuser">New User</a></li>
                <li><a href="/user/update">Edit User</a></li>
                <li><a href="/user/delete">Delete User</a></li>
            </ul>
        </div>

        <div class="container">


            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li class="active"> <a>Admin Board </a></li>
                <li><a href="/user/allusers">Show All Users</a></li>
                <li><a href="/user/SearchUser">Search User</a></li>
            </ul>

        </div>
    </div>
